In [2]:
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv("station_data_dataverse.csv")
dataset.head()

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0

In [7]:
dataset.shape

(3395, 24)

In [8]:
dataset.size

81480

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sessionId       3395 non-null   int64
 1   kwhTotal        3395 non-null   float64
 2   dollars         3395 non-null   float64
 3   created         3395 non-null   object
 4   ended           3395 non-null   object
 5   startTime       3395 non-null   int64
 6   endTime         3395 non-null   int64
 7   chargeTimeHrs   3395 non-null   float64
 8   weekday         3395 non-null   object
 9   platform        3395 non-null   object
 10  distance        2330 non-null   float64
 11  userId          3395 non-null   int64
 12  stationId       3395 non-null   int64
 13  locationId      3395 non-null   int64
 14  managerVehicle  3395 non-null   int64
 15  facilityType    3395 non-null   int64
 16  Mon             3395 non-null   int64
 17  Tues            3395 non-null   int64
 18  Wed             3395 non-null   int64
 19  Thurs           3395 non-null   int64
 20  Fri             3395 non-null   int64
 21  Sat             3395 non-null   int64
 22  Sun             3395 non-null   int64
 23  reportedZip     3395 non-null   int64
dtypes: float64(4), int64(16), object(4)
memory usage: 636.7+ KB

In [10]:
dataset.index

RangeIndex(start=0, stop=3395, step=1)

In [57]:
import re
distance_list = dataset.columns.tolist()
re.search("distance",str(distance_list))

In [62]:
str(distance_list)[122:130]

'distance'

In [13]:
dataset.isna().any()

sessionId         False
kwhTotal          False
dollars           False
created           False
ended             False
startTime         False
endTime           False
chargeTimeHrs     False
weekday           False
platform          False
distance           True
userId            False
stationId         False
locationId        False
managerVehicle    False
facilityType      False
Mon               False
Tues              False
Wed               False
Thurs             False
Fri               False
Sat               False
Sun               False
reportedZip       False
dtype: bool

In [14]:
dataset.isna().sum()

sessionId            0
kwhTotal             0
dollars              0
created              0
ended                0
startTime            0
endTime              0
chargeTimeHrs        0
weekday              0
platform             0
distance          1065
userId               0
stationId            0
locationId           0
managerVehicle       0
facilityType         0
Mon                  0
Tues                 0
Wed                  0
Thurs                0
Fri                  0
Sat                  0
Sun                  0
reportedZip          0
dtype: int64

In [71]:
dataset.loc[:, ["distance"]]

       distance
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
3390  13.352643
3391  13.352643
3392   2.337085
3393   4.671064
3394   3.308334

[3395 rows x 1 columns]

In [75]:
dataset[dataset["distance"].isna()].head()

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0

In [77]:
dataset.distance.fillna(dataset.distance.mean(), inplace= True)

In [78]:
dataset.loc[:, ["distance"]]

       distance
0     18.652378
1     18.652378
2     18.652378
3     18.652378
4     18.652378
...         ...
3390  13.352643
3391  13.352643
3392   2.337085
3393   4.671064
3394   3.308334

[3395 rows x 1 columns]

In [79]:
dataset.distance.isna().sum()

0

In [83]:
dataset.drop(columns="sessionId",inplace=True)

In [85]:
dataset.corr()

,kwhTotal,dollars,startTime,endTime,chargeTimeHrs,distance,userId,stationId,locationId,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
kwhTotal,1.000000,0.073656,-0.175230,-0.068123,0.316102,1.543672e-01,0.152723,0.042407,0.077886,0.034952,0.049954,-0.039913,0.032065,0.001884,-0.008641,-0.005985,0.026235,0.053179,-1.532727e-01
dollars,0.073656,1.000000,-0.059556,0.135312,0.526679,-1.777301e-02,-0.004917,0.002350,0.036741,0.043350,0.089630,-0.000331,-0.011136,0.053587,-0.018671,-0.010895,-0.028286,-0.020263,-4.302615e-02
startTime,-0.175230,-0.059556,1.000000,0.826177,-0.092635,-1.842123e-01,0.038559,0.028819,0.072912,-0.170325,0.214601,0.013129,0.007995,0.011268,0.017538,-0.002754,-0.087263,-0.086516,-2.174690e-01
endTime,-0.068123,0.135312,0.826177,1.000000,0.115463,-1.652318e-01,0.018569,0.022594,0.092615,-0.095316,0.244850,0.004965,0.020505,0.027153,0.021598,-0.018501,-0.108672,-0.097995,-2.176064e-01
chargeTimeHrs,0.316102,0.526679,-0.092635,0.115463,1.000000,4.724847e-02,0.016427,0.032945,0.040935,0.095555,0.145634,0.017996,0.016969,0.032752,-0.018213,-0.024288,-0.049228,-0.041487,-4.081385e-02
distance,0.154367,-0.017773,-0.184212,-0.165232,0.047248,1.000000e+00,0.201223,-0.011002,-0.077694,0.216190,-0.188256,0.007629,-0.001125,-0.002321,-0.001097,-0.011473,0.053117,-0.045494,1.498099e-14
userId,0.152723,-0.004917,0.038559,0.018569,0.016427,2.012230e-01,1.000000,0.018601,0.032678,0.055838,-0.359958,-0.035626,0.013199,-0.018683,-0.014928,-0.007206,0.141328,0.073808,-9.634986e-02
stationId,0.042407,0.002350,0.028819,0.022594,0.032945,-1.100204e-02,0.018601,1.000000,-0.039607,-0.125311,-0.074738,-0.021882,0.021281,0.004314,-0.004841,-0.004760,-0.011689,0.044927,-3.895539e-02
locationId,0.077886,0.036741,0.072912,0.092615,0.040935,-7.769432e-02,0.032678,-0.039607,1.000000,-0.174940,0.353095,-0.003939,0.029779,-0.034396,0.033324,-0.015540,-0.025339,-0.005374,-2.324036e-01
managerVehicle,0.034952,0.043350,-0.170325,-0.095316,0.095555,2.161897e-01,0.055838,-0.125311,-0.174940,1.000000,-0.203912,0.009533,0.008936,0.012304,-0.041899,0.018283,0.031707,-0.073741,3.886254e-02
facilityType,0.049954,0.089630,0.214601,0.244850,0.145634,-1.882555e-01,-0.359958,-0.074738,0.353095,-0.203912,1.000000,0.010366,0.003592,0.009298,0.037034,0.030810,-0.188691,-0.131276,-1.680823e-01
Mon,-0.039913,-0.000331,0.013129,0.004965,0.017996,7.629151e-03,-0.035626,-0.021882,-0.003939,0.009533,0.010366,1.000000,-0.225828,-0.242751,-0.247485,-0.220343,-0.064213,-0.039726,1.063242e-02
Tues,0.032065,-0.011136,0.007995,0.020505,0.016969,-1.125472e-03,0.013199,0.021281,0.029779,0.008936,0.003592,-0.225828,1.000000,-0.247313,-0.252136,-0.224484,-0.065420,-0.040472,-8.314873e-03
Wed,0.001884,0.053587,0.011268,0.027153,0.032752,-2.321251e-03,-0.018683,0.004314,-0.034396,0.012304,0.009298,-0.242751,-0.247313,1.000000,-0.271031,-0.241306,-0.070322,-0.043505,6.439067e-03
Thurs,-0.008641,-0.018671,0.017538,0.021598,-0.018213,-1.097052e-03,-0.014928,-0.004841,0.033324,-0.041899,0.037034,-0.247485,-0.252136,-0.271031,1.000000,-0.246011,-0.071694,-0.044354,-1.162878e-02
Fri,-0.005985,-0.010895,-0.002754,-0.018501,-0.024288,-1.147306e-02,-0.007206,-0.004760,-0.015540,0.018283,0.030810,-0.220343,-0.224484,-0.241306,-0.246011,1.000000,-0.063831,-0.039489,-1.079930e-02
Sat,0.026235,-0.028286,-0.087263,-0.108672,-0.049228,5.311695e-02,0.141328,-0.011689,-0.025339,0.031707,-0.188691,-0.064213,-0.065420,-0.070322,-0.071694,-0.063831,1.000000,-0.011508,4.989188e-02
Sun,0.053179,-0.020263,-0.086516,-0.097995,-0.041487,-4.549382e-02,0.073808,0.044927,-0.005374,-0.073741,-0.131276,-0.039726,-0.040472,-0.043505,-0.044354,-0.039489,-0.011508,1.000000,-1.459760e-02
reportedZip,-0.153273,-0.043026,-0.217469,-0.217606,-0.040814,1.498099e-14,-0.096350,-0.038955,-0.232404,0.038863,-0.168082,0.010632,-0.008315,0.006439,-0.011629,-0.010799,0.049892,-0.014598,1.000000e+00

In [86]:
dataset.created

0       0014-11-18 15:40:26
1       0014-11-19 17:40:26
2       0014-11-21 12:05:46
3       0014-12-03 19:16:12
4       0014-12-11 20:56:11
               ...
3390    0015-10-01 16:31:18
3391    0015-10-02 16:28:48
3392    0015-09-30 16:54:22
3393    0015-09-24 11:43:02
3394    0015-10-01 16:43:05
Name: created, Length: 3395, dtype: object