In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("Iris.csv")
display(dataset)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
dataset.groupby("Species").first()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            5.1           3.5            1.4           0.2
Iris-versicolor   51            7.0           3.2            4.7           1.4
Iris-virginica   101            6.3           3.3            6.0           2.5

In [9]:
dataset.set_index("Species")

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       1            5.1           3.5            1.4           0.2
Iris-setosa       2            4.9           3.0            1.4           0.2
Iris-setosa       3            4.7           3.2            1.3           0.2
Iris-setosa       4            4.6           3.1            1.5           0.2
Iris-setosa       5            5.0           3.6            1.4           0.2
...             ...            ...           ...            ...           ...
Iris-virginica  146            6.7           3.0            5.2           2.3
Iris-virginica  147            6.3           2.5            5.0           1.9
Iris-virginica  148            6.5           3.0            5.2           2.0
Iris-virginica  149            6.2           3.4            5.4           2.3
Iris-virginica  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [10]:
dataset.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
dataset.sort_values("SepalLengthCm")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica