# Import Libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# 1. Problem Statement

By using Linear Regression Model, We are trying to predict the Prices...For that we are using multiple input variable.

# 2. Data Gathering

In [2]:
df = pd.read_csv('autos.csv')
df

,symbol,loss,make,fuel,aspir,doors,style,drive,eng_loc,wb,...,eng_cc,fuel.sys,bore,stroke,comp.ratio,hp,rpm,city_mpg,hw_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [3]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,204
symbol,3,3,1,2,2,2,1,1,1,0,...,-1,-2,-1,-2,-1,-1,-1,-1,-1,-1
loss,NaN,NaN,NaN,164.0,164.0,NaN,158.0,NaN,158.0,NaN,...,74.0,103.0,74.0,103.0,74.0,95.0,95.0,95.0,95.0,95.0
make,alfa-romero,alfa-romero,alfa-romero,audi,audi,audi,audi,audi,audi,audi,...,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo,volvo
fuel,gas,gas,gas,gas,gas,gas,gas,gas,gas,gas,...,gas,gas,gas,gas,gas,gas,gas,gas,diesel,gas
aspir,std,std,std,std,std,std,std,std,turbo,turbo,...,std,std,std,turbo,turbo,std,turbo,std,turbo,turbo
doors,two,two,two,four,four,two,four,four,four,two,...,four,four,four,four,four,four,four,four,four,four
style,convertible,convertible,hatchback,sedan,sedan,sedan,sedan,wagon,sedan,hatchback,...,wagon,sedan,wagon,sedan,wagon,sedan,sedan,sedan,sedan,sedan
drive,rwd,rwd,rwd,fwd,4wd,fwd,fwd,fwd,fwd,4wd,...,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd,rwd
eng_loc,front,front,front,front,front,front,front,front,front,front,...,front,front,front,front,front,front,front,front,front,front
wb,88.6,88.6,94.5,99.8,99.4,99.8,105.8,105.8,105.8,99.5,...,104.3,104.3,104.3,104.3,104.3,109.1,109.1,109.1,109.1,109.1
length,168.8,168.8,171.2,176.6,176.6,177.3,192.7,192.7,192.7,178.2,...,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8,188.8
width,64.1,64.1,65.5,66.2,66.4,66.3,71.4,71.4,71.4,67.9,...,67.2,67.2,67.2,67.2,67.2,68.9,68.8,68.9,68.9,68.9
height,48.8,48.8,52.4,54.3,54.3,53.1,55.7,55.7,55.9,52.0,...,57.5,56.2,57.5,56.2,57.5,55.5,55.5,55.5,55.5,55.5
weight,2548,2548,2823,2337,2824,2507,2844,2954,3086,3053,...,3034,2935,3042,3045,3157,2952,3049,3012,3217,3062
eng_type,dohc,dohc,ohcv,ohc,ohc,ohc,ohc,ohc,ohc,ohc,...,ohc,ohc,ohc,ohc,ohc,ohc,ohc,ohcv,ohc,ohc
cylinders,four,four,six,four,five,five,five,five,five,five,...,four,four,four,four,four,four,four,six,six,four
eng_cc,130,130,152,109,136,136,136,136,131,131,...,141,141,141,130,130,141,141,173,145,141
fuel.sys,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,...,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,mpfi,idi,mpfi
bore,3.47,3.47,2.68,3.19,3.19,3.19,3.19,3.19,3.13,3.13,...,3.78,3.78,3.78,3.62,3.62,3.78,3.78,3.58,3.01,3.78
stroke,2.68,2.68,3.47,3.4,3.4,3.4,3.4,3.4,3.4,3.4,...,3.15,3.15,3.15,3.15,3.15,3.15,3.15,2.87,3.4,3.15
comp.ratio,9.0,9.0,9.0,10.0,8.0,8.5,8.5,8.5,8.3,7.0,...,9.5,9.5,9.5,7.5,7.5,9.5,8.7,8.8,23.0,9.5
hp,111.0,111.0,154.0,102.0,115.0,110.0,110.0,110.0,140.0,160.0,...,114.0,114.0,114.0,162.0,162.0,114.0,160.0,134.0,106.0,114.0
rpm,5000.0,5000.0,5000.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,5500.0,...,5400.0,5400.0,5400.0,5100.0,5100.0,5400.0,5300.0,5500.0,4800.0,5400.0
city_mpg,21,21,19,24,18,19,19,19,17,16,...,23,24,24,17,17,23,19,18,26,19
hw_mpg,27,27,26,30,22,25,25,25,20,22,...,28,28,28,22,22,28,25,23,27,25
price,13495.0,16500.0,16500.0,13950.0,17450.0,15250.0,17710.0,18920.0,23875.0,NaN,...,13415.0,15985.0,16515.0,18420.0,18950.0,16845.0,19045.0,21485.0,22470.0,22625.0

In [4]:
df.shape

(205, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   symbol      205 non-null    int64
 1   loss        164 non-null    float64
 2   make        205 non-null    object
 3   fuel        205 non-null    object
 4   aspir       205 non-null    object
 5   doors       203 non-null    object
 6   style       205 non-null    object
 7   drive       205 non-null    object
 8   eng_loc     205 non-null    object
 9   wb          205 non-null    float64
 10  length      205 non-null    float64
 11  width       205 non-null    float64
 12  height      205 non-null    float64
 13  weight      205 non-null    int64
 14  eng_type    205 non-null    object
 15  cylinders   205 non-null    object
 16  eng_cc      205 non-null    int64
 17  fuel.sys    205 non-null    object
 18  bore        201 non-null    float64
 19  stroke      201 non-null    float64
 20  comp.ratio  205 non-null    float64
 21  hp          203 non-null    float64
 22  rpm         203 non-null    float64
 23  city_mpg    205 non-null    int64
 24  hw_mpg      205 non-null    int64
 25  price       201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [6]:
df['cylinders'].value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylinders, dtype: int64

In [7]:
df['cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

# Encoding

1. Label Encoding
2. OneHot Encoding
3. Hash Encoding
4. Binary Encoding

# 1.Label Encoding

In [8]:
List1 = ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight']
np.sort(List1)

array(['eight', 'five', 'four', 'six', 'three', 'twelve', 'two'],
      dtype='<U6')

In [9]:
List1 = ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight']
sorted(List1)

['eight', 'five', 'four', 'six', 'three', 'twelve', 'two']

['eight', 'five', 'four', 'six', 'three', 'twelve', 'two']
   0        1       2       3       4        5         6

High
Medium 
LOw

High >> 0
Low  >> 1
Medium >> 2

In [10]:
Test = ['Low','Medium','Medium','High','High','Low']
sorted(Test)

['High', 'High', 'Low', 'Low', 'Medium', 'Medium']

Test = ['Low','Medium','Medium','High','High','Low']    >> Label Encoder original Output
          1      2        2        0      0     1



['High', 'High', 'Low', 'Low', 'Medium', 'Medium']
   0       0       1      1       2         2

In [17]:
df_test = pd.DataFrame({'Test':['Low','Medium','Medium','High','High','Low']})

In [18]:
labelEnc = LabelEncoder()
labelEnc.fit_transform(df_test['Test'])

array([1, 2, 2, 0, 0, 1])

In [20]:
df['cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [21]:
df['cylinders'].replace({'four':4,'six':6,'five':5,'three':3,'twelve':12,'two':2,'eight':8},
                        inplace = True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   symbol      205 non-null    int64
 1   loss        164 non-null    float64
 2   make        205 non-null    object
 3   fuel        205 non-null    object
 4   aspir       205 non-null    object
 5   doors       203 non-null    object
 6   style       205 non-null    object
 7   drive       205 non-null    object
 8   eng_loc     205 non-null    object
 9   wb          205 non-null    float64
 10  length      205 non-null    float64
 11  width       205 non-null    float64
 12  height      205 non-null    float64
 13  weight      205 non-null    int64
 14  eng_type    205 non-null    object
 15  cylinders   205 non-null    int64
 16  eng_cc      205 non-null    int64
 17  fuel.sys    205 non-null    object
 18  bore        201 non-null    float64
 19  stroke      201 non-null    float64
 20  comp.ratio  205 non-null    float64
 21  hp          203 non-null    float64
 22  rpm         203 non-null    float64
 23  city_mpg    205 non-null    int64
 24  hw_mpg      205 non-null    int64
 25  price       201 non-null    float64
dtypes: float64(11), int64(6), object(9)
memory usage: 41.8+ KB

In [23]:
labelEnc = LabelEncoder()
labelEnc.fit_transform(df['cylinders'])

array([2, 2, 4, 2, 3, 3, 3, 3, 3, 3, 2, 2, 4, 4, 4, 4, 4, 4, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 4, 6, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 3, 3, 3, 3, 5, 5, 5, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 5, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 4, 4, 2], dtype=int64)

# OneHot Encoding

In [ ]:
Low 
Medium
High


           Low         Medium     High
    
    
Low         1           0         0
Medium      0           1         0
Low         1           0         0
High        0           0         1
Low         1           0         0
LOw         1           0         0
Medium      0           1         0
High        0           0         1

In [ ]:
Test = ['Low','Medium','Medium','High','High','Low']

In [24]:
df_test = pd.DataFrame({'Test':['Low','Medium','Medium','High','High','Low']})

df_new = pd.get_dummies(df_test, columns = ['Test'])
df_new

   Test_High  Test_Low  Test_Medium
0          0         1            0
1          0         0            1
2          0         0            1
3          1         0            0
4          1         0            0
5          0         1            0

In [25]:
df_test = pd.DataFrame({'Test':['Low','Medium','Medium','High','High','Low']})

df_new = pd.get_dummies(df_test, columns = ['Test'], drop_first=True, prefix = 'test')
df_new

   test_Low  test_Medium
0         1            0
1         0            1
2         0            1
3         0            0
4         0            0
5         1            0

In [26]:
df_test

     Test
0     Low
1  Medium
2  Medium
3    High
4    High
5     Low

In [27]:
df_new

   test_Low  test_Medium
0         1            0
1         0            1
2         0            1
3         0            0
4         0            0
5         1            0